.logoName {
  color: #152d77;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.mylinks {
  cursor: pointer;
  text-decoration: none;
  color: #152d77c0 !important;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.mylinks:hover {
  cursor: pointer;
  color: #152d77 !important;
}
.navBtn {
  background-color: #152d77;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.navBtn:hover {
  background-color: #187715;
}

/* hero section */
.heroSection {
  margin: 2rem auto;
  padding: 7rem 0rem 2rem 0rem;
}
.textPart {
  padding: 8rem 0rem 4rem 0rem;
}
.textPartTitle {
  color: #152d77;
  font-size: 4rem;
  font-weight: bold;
}
.textPartMsg {
  color: #4bb744;
  font-size: 1rem;
  font-weight: bold;
}
.formPartSection {
  padding-top: 2rem;
}
.formPart {
  background-color: #d3d3d6;
  border-radius: 20px;
  width: 80% !important;
  height: auto;
  margin: 3rem auto;
  padding: 4rem 0rem 4rem 4rem;
  justify-content: center;
  align-items: center;
}
.formlabel {
  color: #152d77;
  font-size: 1rem;
  font-weight: bold;
}
.formPartInput {
  width: 70% !important;
  padding: 8px 15px;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
}
.formBtn {
  background-color: #152d77;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.formBtn:hover {
  background-color: #187715;
}

/* benefit section */
.benefitSection {
  padding-bottom: 5rem;
}

.benefitHeroCon {
  width: 70%;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
}
.benefitHero {
  color: #152d77;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
.benefitText {
  color: #187715;
  font-size: 2rem;
  font-weight: bold;
}
.benefitMsg {
  color: #152d77c7;
  font-size: 1rem;
  font-weight: bold;
}
.icon {
  margin-right: 1rem;
  color: #152d77;
}
footer {
  background-color: #d3d3d6;
  padding: 5px;
  margin-bottom: 2rem;
}
/* media query */
